.openModal {
  background-color: transparent;
  border: none;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.basket {
  cursor: pointer;
  position: relative;

  p {
    position: absolute;
    color: white;
    font-size: 0.8rem;
    left: 5px;
    right: 0;
    top: -5px;
  }


  button {
    cursor: pointer;
  }
}